{% extends "bmnc3d/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block style %}
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="{% static 'login.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .star {
            color : darkred;
        }
    </style>
{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if "signupSuccess" in message.tags %}
                <div class="alert alert-success" role="alert"> <a class="close" href="#" data-dismiss="alert">×</a> {{ message }} </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            {% if "logoutSuccess" in message.tags %}
                <div class="alert alert-success" role="alert"> <a class="close" href="#" data-dismiss="alert">×</a> {{ message }} </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="form">
        <ul class="tab-group">
            <li class="tab active">
                <a href="#login">Login</a>
            </li>
            <li class="tab">
                <a href="#signup">Sign Up</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="login">
                <h2>Welcome Back!</h2>
                <form id="login-form" action="authlogin/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <h5 for="usernameLogin">Username<span class="star freebirdFormviewerViewItemsItemRequiredAsterisk" aria-label="Required question">*</span></h5>
                        <input required name="usernameLogin" type="text" class="form-control" id="usernameLogin" placeholder="Username"> </div>
                    <div class="form-group">
                        <h5 for="passwordLogin">Password<span class="star freebirdFormviewerViewItemsItemRequiredAsterisk" aria-label="Required question">*</span></h5>
                        <input required name="passwordLogin" type="password" class="form-control" id="passwordLogin" placeholder="Password"> </div>
                    <button class="button submit button-block" type="submit" form="login-form" value="Submit">Log In</button>
                    {% if messages %}
                        {% for message in messages %}
                            {% if "login" in message.tags %}
                                <div class="alert alert-error"> <a class="close" href="#" data-dismiss="alert">×</a> {{ message }} </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
            <div id="signup">
                <h2 class=" m-0">Sign up</h2>
                <form id="signup-form" action="signup/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <h5 for="role" class="p-0"> Role <span class="star freebirdFormviewerViewItemsItemRequiredAsterisk" aria-label="Required question">*</span></h5>
                        <select name="role" class="custom-select role" id="changeRole">
                            <option value="1" selected="">Mahasiswa</option>
                            <option value="2">Dosen</option>
                            <option value="3">Staf</option>
                        </select>
                    </div>
                    <div class="form-row flex-row">
                        <div class="form-group row-items">
                            <h5 for="username">Username<span class="star freebirdFormviewerViewItemsItemRequiredAsterisk" aria-label="Required question">*</span></h5>
                            <input required name="username" type="username" class="form-control" id="username"
                                   onkeyup="nospaces(this)" title="username tidak boleh mengandung whitespace" aria-describedby="username" placeholder="Username" maxlength="20"> </div>
                        <div class="form-group row-items">
                            <h5 for="password">Password<span class="star freebirdFormviewerViewItemsItemRequiredAsterisk" aria-label="Required question">*</span></h5>
                            <input required name="password" type="password" class="form-control" id="password" placeholder="Password"
                                   pattern="[a-zA-Z0-9]{8,}" title="Password bersifat case sensitive, terdiri dari angka dan bilangan, panjang minimal 8 karakter" maxlength="20"> </div>
                    </div>
                    <div class="form-group">
                        <h5 for="id">Nomor Identitas<span class="star freebirdFormviewerViewItemsItemRequiredAsterisk" aria-label="Required question">*</span></h5>
                        <input required name="noId" type="number" class="form-control" id="id" placeholder="NPM/NIK" maxlength="20"> </div>
                    <div class="form-group">
                        <h5 for="name">Nama<span class="star freebirdFormviewerViewItemsItemRequiredAsterisk" aria-label="Required question">*</span></h5>
                        <input required name="nama" type="text" class="form-control" id="name" placeholder="Nama" maxlength="49"> </div>
                    <div class="form-row flex-row">
                        <div class="form-group row-items">
                            <h5 for="birthplace">Tempat Lahir<span class="star freebirdFormviewerViewItemsItemRequiredAsterisk" aria-label="Required question">*</span></h5>
                            <input required name="tempatLahir" type="text" class="form-control" id="birthplace" placeholder="Tempat Lahir" maxlength="50"> </div>
                        <div class="form-group row-items">
                            <h5 for="">Tanggal Lahir<span class="star freebirdFormviewerViewItemsItemRequiredAsterisk" aria-label="Required question">*</span></h5>
                            <input required name="tanggalLahir" type="date" class="form-control" id="birthday" placeholder="27/02/1999" maxlength="50"> </div>
                    </div>
                    <div class="form-group">
                        <h5 for="email">Email<span class="star freebirdFormviewerViewItemsItemRequiredAsterisk" aria-label="Required question">*</span></h5>
                        <input required name="email" type="email" class="form-control" id="email" placeholder="Email" maxlength="50"> </div>
                    <div class="form-group">
                        <h5 for="nohp">Nomor HP</h5>
                        <input name="noHP" type="number" class="form-control" id="nohp" placeholder="08xxxxxxxxxx" maxlength="50"> </div>
                    <div class="form-group" id="statusKemahasiswaan">
                        <h5 for="status">Status Kemahasiswaan<span class="star freebirdFormviewerViewItemsItemRequiredAsterisk" aria-label="Required question">*</span></h5>
                        <input required name="status" type="text" class="form-control" id="status" placeholder="Status Kemahasiswaan" maxlength="20"> </div>
                    <div class="form-group" id="idUniversitasSelect">
                        <h5 for="status">ID Universitas<span class="star freebirdFormviewerViewItemsItemRequiredAsterisk" aria-label="Required question">*</span></h5>
                        <select name="idUniversitas" class="custom-select role" id="idUniversitas">

                        </select>
                    </div>
                    <button id="signupBtn" type="submit" class="button submit button-block" form="signup-form" value="Submit">Sign Up</button>
                    <div class="alert alert-error" id="usernameWarning">Username sudah pernah dipakai!<a class="close" href="#" data-dismiss="alert">×</a></div>
                    <div class="alert alert-error" id="idWarning">NIK/NPM sudah pernah dipakai!<a class="close" href="#" data-dismiss="alert">×</a></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/login.js' %}"></script>

    <script>
        $("#signup-form").submit(function(event) {

            $("#usernameWarning").hide();
            $("#idWarning").hide();
            validateSignup();
            console.log("benerin lagi");
            event.preventDefault();
            return false;
        });
    </script>
    <script>
        function validateSignup() {
            noId = $("#id").val();
            username = $("#username").val();

            $.ajax({
                method: "POST",
                data: {noId: noId, username: username},
                url: 'validateSignup/',
                success: function (status) {
                    console.log(status);
                    if (status.idIsExists) {
                        console.log("idnya ada")
                        $("#idWarning").show();
                        return false;
                    } else if (status.usernameIsExists) {
                        console.log("usernya ada")
                        $("#usernameWarning").show();
                        return false;
                    } else {
                        console.log("input benar harusnya lanjut")
                        console.log("sudah bener");
                        $('#signup-form').unbind().submit()
                    }
                },
                error: function (error) {
                    console.log("Terjadi kesalahan");
                }
            });
        }
    </script>
    <script>
        $(document).ready(() => {
            $("#usernameWarning").hide();
            $("#idWarning").hide();
        })

    </script>
    <script>
        $(document).ready(function () {
            $.ajax({
                method: "GET",
                url: 'getunivids',
                success: function (list) {
                    console.log(list);
                    for (var i = 0; i < list.length; i++) {
                        addID(list[i]);
                    }
                },
                error: function (error) {
                    console.log("Terjadi kesalahan");
                }
            });
        });

    </script>
    <script>
        function addID(id) {
            var option = document.createElement("option");
            option.text = id;
            option.value = id;
            var select = document.getElementById("idUniversitas");
            select.appendChild(option);
        }
    </script>
    <script>
    function nospaces(t){
        if(t.value.match(/\s|\./g)){
            return false;
        }
    }
    </script>

{% endblock %}