{% load staticfiles %} {% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-secondary">
  <div class="container">
    <a class="navbar-brand" href="#">BMNC</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="../Basdat-polling/blank.html" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Profile&nbsp;</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Artikel Yang Dimiliki</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Berita</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Berikan Komentar</a>
            <a class="dropdown-item" href="#">Berikan Rating</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Polling</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
      </ul>
      <form class="form-inline m-0">
        <button onclick="window.location='/login/authlogout/';" type="button" class="btn btn-primary">Sign Out</button>
      </form>
    </div>
  </div>
</nav>
