{%  load staticfiles %} {% load static %}
<nav class="navbar navbar-expand-md bg-secondary navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="#">BMNC</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Berita</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <br>
              <a class="dropdown-item" href="#">Tambah Berita</a>
              <a class="dropdown-item" href="#">Membuat Polling Berita</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Contact us</a>
          </li>
        </ul>
        <form class="form-inline m-0">
          <button onclick="window.location='/login/authlogout/';" type="button" class="btn btn-primary">Sign Out</button>
        </form>
      </div>
    </div>
  </nav>