{% extends "bmnc3d/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block style %}
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <link href="{% static 'fitur_8.css' %}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <style>
    .card:hover {
      top: -13px;
      transition: top ease 1;
      box-shadow: 0 8px 8px 0 gray, 0 8px 20px 0 gray;
    }

    .judul {
      text-align: center;
      font-size: 50px;
      font-weight: bold;
      letter-spacing: 5px;
    }
  </style>
{% endblock %}

{% block navbar %}
     {% include "bmnc3d/partials/header_avi.html" %}
{% endblock %}

{% block content %}
<body class="bg-light">
  <div class="container bg-light">
    <h2 class="judul py-2 my-3">POLLING</h2>
    <div class="row">
      <div class="p-3 align-self-center col-md-4">
        <div class="card">
          <div class="card-block p-5 bg-secondary bg-gradient">
            <h1 class="text-center">
              <span style="font-size: 30px;">Polling 1</span>
            </h1>
            <hr>
            <p>tortor id</p>
            <a href="#" class="btn w-100 border btn-secondary border-light">Isi Polling</a>
          </div>
        </div>
      </div>
      <div class="p-3 align-self-center col-md-4">
        <div class="card">
          <div class="card-block p-5 bg-secondary bg-gradient">
            <h1 class="text-center">
              <span style="font-size: 30px;">Polling 2</span>
            </h1>
            <hr>
            <p>mattis nibh ligula nec</p>
            <a href="#" class="btn w-100 btn-secondary border border-light">Isi Polling</a>
          </div>
        </div>
      </div>
      <div class="p-3 align-self-center col-md-4">
        <div class="card">
          <div class="card-block p-5 bg-secondary bg-gradient">
            <h1 class="text-center">
              <span style="font-size: 30px;">Polling 3</span>
            </h1>
            <hr>
            <p>erat tortor</p>
            <a href="#" class="btn w-100 btn-secondary border border-light">Isi Polling</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="p-3 align-self-center col-md-4">
        <div class="card">
          <div class="card-block p-5 bg-secondary bg-gradient">
            <h1 class="text-center">
              <span style="font-size: 30px;">Polling 4</span>
            </h1>
            <hr>
            <p>libero nam</p>
            <a href="#" class="btn w-100 btn-secondary border border-light">Isi Polling</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-white bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p class="lead">Sign up to our newsletter for the latest news</p>
          <form class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Your e-mail here"> </div>
            <button type="submit" class="btn btn-primary ml-3">Subscribe</button>
          </form>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.facebook.com" target="_blank">
            <i class="fa fa-fw fa-facebook fa-3x text-white"></i>
          </a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://twitter.com" target="_blank">
            <i class="fa fa-fw fa-twitter fa-3x text-white"></i>
          </a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.instagram.com" target="_blank">
            <i class="fa fa-fw fa-instagram text-white fa-3x"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2017 &nbsp;All rights reserved.</p>
          <p>Kelompok 3 Basis Data D</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
{% endblock %}
