{% extends "bmnc3d/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block style %}
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link href="{% static 'fitur_7.css' %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <style>
    .judul {
      text-align: center;
      font-weight: bold;
      font-size: 60px;
    }

    .judul-berita {
      font-size: 32px;
      font-weight: bold;
      font-style: italic;
    }
  </style>
{% endblock %}

{% block navbar %}
     {% include "bmnc3d/partials/header_avi.html" %}
{% endblock %}

{% block content %}
<body class="">
  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="judul display-1 py-0">LIST ARTIKEL</h1>
        </div>
      </div>
      <div class="row py-4">
        <div class="col-md-4">
          <div class="card-body">
            <h5 class="judul-berita text-center">Grapes of Wrath, The</h5>
            <h4>Topik : Business Development</h4>
            <a class="btn btn-primary m-2 w-100" href="#">Lihat Berita</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <h5 class="judul-berita text-center">My Science Project</h5>
            <h4>Topik : Human Resources</h4>
            <a class="btn btn-primary m-2 w-100" href="#">Lihat Berita</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <h5 class="judul-berita text-center">Top Gun</h5>
            <h4>Topik : Sales</h4>
            <a class="btn btn-primary m-2 w-100" href="#">Lihat Berita</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <h5 class="judul-berita text-center">Cabin Fever : Patient Zero</h5>
            <h4>Topik : Engineering</h4>
            <a class="btn btn-primary m-2 w-100" href="#">Lihat Berita</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-white bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p class="lead">Sign up to our newsletter for the latest news</p>
          <form class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Your e-mail here"> </div>
            <button type="submit" class="btn btn-primary ml-3">Subscribe</button>
          </form>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.facebook.com" target="_blank">
            <i class="fa fa-fw fa-facebook fa-3x text-white"></i>
          </a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://twitter.com" target="_blank">
            <i class="fa fa-fw fa-twitter fa-3x text-white"></i>
          </a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.instagram.com" target="_blank">
            <i class="fa fa-fw fa-instagram text-white fa-3x"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2017 &nbsp;All rights reserved.</p>
          <p>Kelompok 3 Basis Data D</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
{% endblock %}
