{% extends "bmnc3d/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block style %}
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<link href="{% static 'fitur_6.css' %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <style>
    .img-fluid {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;
      max-width: 60%;
    }

    .lead-label {
      font-size: 28px;
    }

    .lead {
      font-size: 24px;
    }

    .judul {
      font-weight: bold;
    }

    .status-user {
      font-weight: bold;
      font-size: 50px;
    }
  </style>
{% endblock %}

{% block navbar %}
     {% include "bmnc3d/partials/header_avi.html" %}
{% endblock %}

{% block content %}
<body>
  <div class="py-5 text-center bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6 bg-primary">
          <div class="row">
            <div class="col-md-12">
              <h1 class="judul display-1 py-4">PROFILE</h1>
            </div>
          </div>
          <img class="img-fluid rounded-circle p-3" src="https://pbs.twimg.com/profile_images/852090369726599168/VyMzEFx7_400x400.jpg" alt="Card image">
          <div class="row">
            <div class="col-md-12">
              <h1 class="status-user display-4">Dosen</h1>
            </div>
            <div class="col-md-12">
              <a class="btn btn-secondary btn-lg w-50" href="#">Lihat Daftar Artikel</a>
            </div>
          </div>
          <br>
          <br>
          <p class="lead-label text-center">
            <b>NIK</b>
          </p>
          <p class="lead border-primary">148791626</p>
          <br>
          <p class="lead-label text-center">
            <b>POSISI</b>
          </p>
          <p class="lead border-primary">Engineering</p>
        </div>
        <div class="col-md-6 bg-secondary">
          <br>
          <p class="lead-label text-center">
            <b>NAMA</b>
          </p>
          <p class="lead border-primary">Tybalt</p>
          <br>
          <p class="lead-label">
            <b>EMAIL</b>
          </p>
          <p class="lead">tboyne3@google.nl</p>
          <br>
          <p class="lead-label">
            <b>TEMPAT LAHIR</b>
          </p>
          <p class="lead">Xinan</p>
          <br>
          <p class="lead-label">
            <b>TANGGAL LAHIR</b>
          </p>
          <p class="lead">30 Desember 1999</p>
          <br>
          <p class="lead-label">
            <b>NOMOR HANDPHONE</b>
          </p>
          <p class="lead">1178887439</p>
          <br>
          <p class="lead-label">
            <b>JUMLAH BERITA</b>
          </p>
          <p class="lead">29</p>
          <br>
          <p class="lead-label">
            <b>RATA-RATA KATA</b>
          </p>
          <p class="lead">23</p>
          <br>
          <p class="lead-label">
            <b>ID UNIVERSITAS</b>
          </p>
          <p class="lead">4</p>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-white bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <p class="lead">Sign up to our newsletter for the latest news</p>
          <form class="form-inline">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Your e-mail here"> </div>
            <button type="submit" class="btn btn-primary ml-3">Subscribe</button>
          </form>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.facebook.com" target="_blank">
            <i class="fa fa-fw fa-facebook fa-3x text-white"></i>
          </a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://twitter.com" target="_blank">
            <i class="fa fa-fw fa-twitter fa-3x text-white"></i>
          </a>
        </div>
        <div class="col-4 col-md-1 align-self-center">
          <a href="https://www.instagram.com" target="_blank">
            <i class="fa fa-fw fa-instagram text-white fa-3x"></i>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2017 &nbsp;All rights reserved.</p>
          <p>Kelompok 3 Basis Data D</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
{% endblock %}
