:root {
    --primary: #785392;
    --light-blue: #4881B9;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    height: 100vh;
    min-height: 100vh;
}

body {
    background: -moz-linear-gradient(top, rgba(60, 57, 133, 1) 0%, rgba(72, 129, 185, 1) 57%, rgba(18, 187, 173, 1) 99%, rgba(18, 187, 173, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(60, 57, 133, 1) 0%, rgba(72, 129, 185, 1) 57%, rgba(18, 187, 173, 1) 99%, rgba(18, 187, 173, 1) 100%);
    background: -o-linear-gradient(top, rgba(60, 57, 133, 1) 0%, rgba(72, 129, 185, 1) 57%, rgba(18, 187, 173, 1) 99%, rgba(18, 187, 173, 1) 100%);
    font-family: 'Oswald', sans-serif;
    height: 100vh;
    background-attachment: fixed;
    min-height: 100vh;

}

a {
    text-decoration: none;
    color: #1ab188;
    transition: 0.5s ease;
}

a:hover {
    color: #179b77;
}

.form {
    background: white;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, .3);
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    height: 2em;
}

.tab-group:after {
    content: "";
    display: table;
    clear: both;
}

.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 10px;
    background: rgba(160, 179, 176, .25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.5s ease;
}

.tab-group li a:hover {
    background: #3F4E94;
    color: #fff;
}

.tab-group .active a {
    background: #25a7b1;
    color: #fff;
}

.tab-content>div:last-child {
    display: none;
}

h2 {
    text-align: center;
    color: #3c3985;
    font-weight: 300;
    margin: 0 0 10px;
    padding-top: 10px;
}

label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, .5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
}

label .req {
    margin: 2px;
    color: #1ab188;
}

label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}

label.active .req {
    opacity: 0;
}

label.highlight {
    color: #fff;
}

input,
textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #fff;
    border-radius: 0;
    transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

input:focus,
textarea:focus {
    outline: 0;
    border-color: #1ab188;
}

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 6px 0;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #25a7b1;
    color: #fff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.button:hover,
.button:focus {
    background: #3F4E94;
}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row-items {
    width: 48%;
}

form {
    margin-top: 20px;
}

.tab-group a {
    height: 2.5em;
    padding-top: 10px;
    padding-bottom: 5px;
}

h5 {
    color: #3c3985;
}

.dropdown-toggle {
    background-color: #25a7b1;
}

@media only screen and (max-width: 2048px) {
    body,
    html {
        /* height: 100%!important; */
        overflow: auto!important;
        max-height: 100% !important;
    }
    content {
        -moz-transform: scale(0.8, 0.8); /* Moz-browsers */
        zoom: 0.8; /* Other non-webkit browsers */
        zoom: 80%; /* Webkit browsers */
    }
    input {
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .custom-select {
        padding-top: 1.3px;
        padding-bottom: 1.3px;
        height: 2.6em;
    }
}

@media only screen and (max-width: 600px) {
    .row-items {
        width: 100%;
    }
}