{% extends "bmnc3d/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block style %}
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="{% static 'membuatBerita.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}

{% block navbar %}
     {% include "bmnc3d/partials/header_dita.html" %}
{% endblock %}

{%  block content %}
<body>

  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3"> </div>
        <div class="col-md-6">
          <div class="card text-white bg-primary bg-gradient p-5">
            <div class="card-body p-1">
              <h1 class="mb-4">MEMBUAT BERITA</h1>
              <form action="https://formspree.io/YOUREMAILHERE">
                <div class="form-group">
                  <label>Judul</label>
                  <input type="text" class="form-control" placeholder="Masukkan Judul"> </div>
                <div class="form-group">
                  <label>Url</label>
                  <input type="text" class="form-control" placeholder="Masukkan URL"> </div>
                <div class="form-group">
                  <label>Topik</label>
                  <input type="text" class="form-control" placeholder="Masukkan Topik"> </div>
                <div class="form-group">
                  <label>Jumlah Kata</label>
                  <input type="text" class="form-control" placeholder="Masukkan Jumlah Kata"> </div>
                <div class="form-group">
                  <label>Tag</label>
                  <input type="text" class="form-control" placeholder="Pilih Tag"> </div>
                <button type="submit" class="btn btn-secondary">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

{% block footer %}
  {% include "bmnc3d/partials/footer.html" %}
{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
